body {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-size: 20px;
}

body header.navbar {
  background-color: rgba(191, 94, 59, 1);
  color: #fff;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 60px;
  background: url(../../images/header.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.overlay {
  background: rgba(45, 61, 90, .1);
  padding-top: 15px;
  min-height: 150px;

}

body footer#footer {
  /* position: relative; */
  /* bottom: 0; */
  top: -100%;
  width: 100%;
  font-size: 1rem;
  padding-top: 1.5%;
}